.box {
  padding: 10px;
  margin-top: 5rem;
  background-color: #e9e8e8;
  border: 1px solid gray;
  width: 30vw;
  float: right;
}

span {
  background-color: rgb(187, 236, 255);
  width: 100px;
  text-align: right;
  float: right;
}
