.box {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin-top: 30px;
  background-color: rgb(233, 232, 232);
  border: 1px solid gray;
  width: 30vw;
}
span {
  background-color: rgb(187, 236, 255);
  width: 100px;
  text-align: right;
  float: right;
}
